//-- Slider ---

.slider {
  position: relative;
  width: 100%;
  // height: 100vh;
  // overflow: hidden;
  .slider-container {
    // position: absolute;
    width: 100%;
    // height: 100%;
    .slider-item {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }

  .content {
    position: absolute;
    left: 45px;
    bottom: 33%;
    color: $white-cl;

    // @include mobile {
    //   // bottom: 0;
    //   left: 10px;
    //   h2 {
    //     font-size: 20px;
    //   }
    // }
  }

  .direction {
    position: absolute;
    bottom: 50px;
    @include midflex;
    flex-direction: column;
    width: 110px;
    p {
      font-size: 14px;
      writing-mode: vertical-lr;
      color: $white-cl;
      padding-left: 5px;
      margin-left: 42px;
    }

    span {
      width: 3px;
      height: 3px;
      background-color: $red;
      margin-top: 22px;
      margin-bottom: 5px;
    }

    .icon-container {
      width: 35px;
      height: 35px;
      position: relative;

      img {
        position: absolute;
        width: 100%;
      }
    }
  }

  .paging {
    position: absolute;
    bottom: 50px;
    right: 25px;

    &__total {
      font-family: $din_b;
      font-size: 44px;
      color: #bba798;
    }

    &__current {
      font-family: $din_b;
      font-size: 73.63px;
      color: $white-cl;
    }
    &__divided {
      font-family: $din_b;
      font-size: 73.63px;
      color: $white-cl;
    }
  }

  @include mobile {
    .slider-container {
      .slider-item {
        height: 60vh;
      }
    }

    .content {
      left: 10px;
      h2 {
        font-size: 20px;
      }
    }

    .direction {
      width: 35px;
      bottom: 12px;

      p {
        font-size: 5px;
        margin-left: 10px;
      }
      span {
        margin-top: 5px;
      }
      .icon-container {
        width: 15px;
        height: 15px;
      }
    }

    .paging {
      bottom: 15px;
      &__current {
        font-size: 15px;
      }
      &__divided {
        font-size: 15px;
      }
      &__total {
        font-size: 12px;
      }
    }
  }

  @include mobile_landscape {
    .slider-container {
      .slider-item {
        height: 80vh;
      }
    }
  }
}

// ------------------- SIDE SLIDER ----------------

.side-slider {
  display: flex;
  align-items: center;
  position: relative;
  height: 455px;

  // ---------- CONTENT --------------------

  &__content {
    position: relative;
    width: 45%;
    z-index: 5;

    &-item {
      display: none;

      &.active {
        display: block;
      }
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 289px;
      height: 2.5px;
      background-color: $black-cl;
      left: -222px;
      top: -10px;
    }
  }

  &__slider {
    z-index: 2;
    // top: 100px;
    // right: -300px;
    width: 55%;
    position: relative;
    height: 455px;

    .slider-container {
      width: 975px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 30px;

      .slider-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
