header {
  width: 100%;
  height: 94px;
  // background-color: $red;
  // background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 200;

  @include mobile {
    height: 60px;
  }

  .container-fluid {
    height: 100%;
    @include midflex;
    justify-content: space-between;
    position: relative;

    // --- Navigation ---

    .navigation {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      height: 100%;
      a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white-cl;
        padding: 0 25px;
        white-space: nowrap;
        text-transform: uppercase;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 65px;
          left: 10%;
          // transform: translateX(-50%);
          width: 80%;
          height: 1px;
          background-color: $white-cl;
          transform: scaleX(0);
          transform-origin: center left;
          transition: all 0.5s ease-out;
        }

        &:hover {
          &::after {
            transform: scaleX(1);
            // transform-origin: center right;
          }
        }
      }
    }

    // --- customer-helper ---

    .customer-helper {
      display: flex;

      .store {
        padding: 5px 20px;
        margin-right: 10px;
      }

      .regis {
        padding: 5px 15px;
      }
    }

    // --- burger ---
    .burger {
      display: none;
      width: 35px;
      height: 20px;
      cursor: pointer;
      z-index: 204;
      // border: 2px solid black;
      // transition: all 0.5s ease-out;
      // background-color: black;
      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white-cl;
        transition: all 0.3s ease-out;
      }
      &.active {
        .line-top {
          transform: rotate(-45deg);
          margin-top: 18px;
          margin-bottom: 0px;
        }
        .line-mid {
          opacity: 0;
        }

        .line-bottom {
          transform: rotate(45deg);
          margin-top: -10px;
        }
      }
    }

    // --- Nav Mobile ---

    .nav-mobile {
      display: none;
      z-index: 202;

      .logo {
        padding: 15px 0;
      }

      nav {
        border-top: 2px solid $white-cl;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        a {
          font-family: $din;
          text-transform: uppercase;
          color: $white-cl;
          letter-spacing: -0.25px;
          font-size: 24px;
          padding-bottom: 25px;
          position: relative;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 36px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $white-cl;
            transform: scaleX(0);
            transform-origin: center left;
            transition: all 0.5s ease-out;
          }

          &:hover {
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }

      .customer-btns {
        width: 100vw;
        .btn {
          width: 100%;
          border-top: 2px solid $white-cl;
          // border-bottom: 2px solid $white-cl;
          // border-collapse: collapse;
          border-radius: 0;

          &.--bottomborder {
            border-bottom: 2px solid $white-cl;
          }

          a {
            padding: 15px 0 10px;
            font-family: $din;
            color: $white-cl;
            font-size: 24px;
          }
        }
      }
    }

    // --- Nav Mobile ---

    @media screen and (max-width: 1120px) {
      .customer-helper,
      .navigation {
        display: none;
      }

      .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .nav-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: $red;
        left: 0;
        top: 0;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        transform: translateY(-100%);
        transition: all 0.4s ease-out;

        &::-webkit-scrollbar {
          display: none;
        }

        &.active {
          transform: translateY(0);
        }

        .logo {
          img {
            width: 300px;
            height: auto;
          }
        }

        nav {
          border-top: 2px solid $white-cl;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 25px;
          a {
            font-family: $din;
            text-transform: uppercase;
            color: $white-cl;
            letter-spacing: -0.25px;
            font-size: 50px;
            padding-bottom: 25px;
            position: relative;

            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 36px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $white-cl;
              transform: scaleX(0);
              transform-origin: center left;
              transition: all 0.5s ease-out;
            }

            &:hover {
              &::after {
                transform: scaleX(1);
              }
            }
          }
        }

        .customer-btns {
          width: 100vw;
          .btn {
            width: 100%;
            border-top: 2px solid $white-cl;
            // border-bottom: 2px solid $white-cl;
            // border-collapse: collapse;
            border-radius: 0;

            &.--bottomborder {
              border-bottom: 2px solid $white-cl;
            }

            a {
              padding: 15px 0 10px;
              font-family: $din;
              color: $white-cl;
              font-size: 50px;
            }
          }
        }
      }
    }

    @include mobile {
      // .burger{

      // }

      .nav-mobile {
        .logo {
          img {
            width: 180px;
            height: auto;
          }
        }

        nav {
          border-top: 2px solid $white-cl;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 25px;
          a {
            font-family: $din;
            text-transform: uppercase;
            color: $white-cl;
            letter-spacing: -0.25px;
            font-size: 24px;
            padding-bottom: 25px;
            position: relative;

            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 36px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $white-cl;
              transform: scaleX(0);
              transform-origin: center left;
              transition: all 0.5s ease-out;
            }

            &:hover {
              &::after {
                transform: scaleX(1);
              }
            }
          }
        }

        .customer-btns {
          width: 100vw;
          .btn {
            width: 100%;
            border-top: 2px solid $white-cl;
            // border-bottom: 2px solid $white-cl;
            // border-collapse: collapse;
            border-radius: 0;

            &.--bottomborder {
              border-bottom: 2px solid $white-cl;
            }

            a {
              padding: 15px 0 10px;
              font-family: $din;
              color: $white-cl;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
